@media screen and (min-width: 2000px) {
    nav div {
        padding-top: 5rem;
    }

    .sectionContent {
        padding: 15rem 30rem;
    }

    .stats {
        height: 30rem;
    }

    .spendCounter {
        height: 12rem;
    }
}

@media screen and (min-width: 1900px) and (max-width: 2000px) {
    nav div {
        padding-top: 2rem;
    }

    .sectionContent {
        padding: 9rem 15rem;
    }

    .stats {
        height: 24rem;
    }

    .spendCounter {
        height: 14rem;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1899px) {
    nav div {
        padding-top: 1rem;
    }

    .sectionContent {
        padding: 8rem 9rem;
    }

    .stats {
        height: 24rem;
    }

    .spendCounter {
        height: 14rem;
    }
}